<mat-toolbar color="primary">
    <span>Detalhes do Contatos #{{id}}</span>
</mat-toolbar>

<form class="form" [formGroup]="contatosForm" (ngSubmit)="editaContato()">
    <mat-form-field appearance="standard">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="phone">
    </mat-form-field>

    <div class="actions">
        <a routerLink="/contatos" mat-raised-button>Voltar para lista</a>
        <button type="submit" mat-raised-button color="primary" 
        [disabled]="!contatosForm.dirty || contatosForm.invalid">Salvar</button>
    </div>
</form>
