mat-form-field {
    width: 100%;
}

.form {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 80px;
}

mat-form-field mat-label {
    font-size: 1.5em;
}

mat-form-field input {
    font-size: 1.5em;
}

.actions > button {
    margin-left: 16px;
}